DB_HOST=localhost
DB_USER=mahjong_live_user
DB_PASSWORD=Dein Passwort
DB_NAME=mahjong_live
PORT=3001

MAIL_HOST=Dein SMTP server
MAIL_PORT=465
MAIL_USER=dein SMTP Username
MAIL_PASS=Dein SMTP Passwort

Dein Secret Key von Google reCAPTCHA v2/v3
RECAPTCHA_SECRET=Dein reCaptcha SECRET KEY

# Beliebige lange Zeichenfolge für die Verschlüsselung der Sitzungen
SESSION_SECRET=Dein SESSION KEY
